.header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 148px;
    box-shadow: 2px 2px 3px rgb(249, 242, 242);
}

.header-container p,
button:hover {
    cursor: pointer;
}

.mcd-logo {
    padding-top: 20px;
    padding-left: 49px;
}

.right-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    padding-right: 97px;
}

.top {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: 17px;
}

.image-dropdown-top {
    padding-top: 18px;
    margin-left: -35px;
}

.image-dropdown-top img {
    width: 15px;
    margin-left: 0px;
}

.top-right {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.image-div-search img {
    width: 16px;
    margin-right: -20px;
}

.location-div {
    padding-top: 15px;
}

.location-div img {
    width: 20px;
    margin-right: 10px;
}

.location-title {
    margin-left: -15px;
    color: #006bae;
}

.top-right button {
    background-color: #ffbc0d;
    border: none;
    width: 125px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
}

.top-left {
    display: flex;
    width: 33%;
    justify-content: space-between;
}

.search-para {
    margin-left: 5px;
}

.bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.bottom p {
    margin-top: 26px;
    padding-right: 30px;
    font-weight: 500;
    font-size: 16px;
    justify-content: space-around;
}

.image-div-search {
    margin-top: 16px;
}

.bottom div {
    padding-left: 0px;
}

.left-section-bottom,
.right-section-bottom {
    width: 100%;
    display: flex;
    margin-right: 54px;
    justify-content: space-evenly;
}

.right-section-bottom {
    margin-left: -70px;
}

.left-section-bottom {
    margin-left: -22px;
}

.bottom img {
    width: 16px;
}

.image-dropdown-bottom {
    margin-left: -45px;
    margin-top: 30px;
}